[stack=flex] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

[stack] > * {
  margin-block: 0;
}

[stack] > * + * {
  margin-block-start: var(--space-md, 1.5rem);
}

.stack-xs > * + * {
  margin-block-start: var(--space-xs, 1.5rem);
}

.stack-sm > * + * {
  margin-block-start: var(--space-sm, 1.5rem);
}

.stack-lg > * + * {
  margin-block-start: var(--space-lg);
}

.stack-xl > * + * {
  margin-block-start: var(--space-xl);
}
.stack-2xl > * + * {
  margin-block-start: var(--space-2xl);
}
.stack-3xl > * + * {
  margin-block-start: var(--space-3xl);
}
.stack-4xl > * + * {
  margin-block-start: var(--space-4xl);
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);

  & * {
    grid-column: 1/-1;
  }
}

@media (min-width: 48rem) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 75rem) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}
