/* @link https://utopia.fyi/type/calculator/?c=360,16,1.2,1536,20,1.25,5,7,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --s--7--min: 0.2621rem;
  --s--6--min: 0.3277rem;
  --s--5--min: 0.4019rem;
  --s--4--min: 0.4823rem;
  --s--3--min: 0.5787rem;
  --s--2--min: 0.6944rem;
  --s--1--min: 0.8333rem;
  --s-0--min: 1rem;
  --s-1--min: 1.2rem;
  --s-2--min: 1.44rem;
  --s-3--min: 1.728rem;
  --s-4--min: 2.0736rem;
  --s-5--min: 2.4883rem;

  --s--7: clamp(var(--s--7--min), 0.2843rem + -0.023vw, 0.2791rem);
  --s--6: clamp(var(--s--6--min), 0.3371rem + -0.0098vw, 0.3349rem);
  --s--5: clamp(var(--s--5--min), 0.3995rem + 0.0105vw, 0.4096rem);
  --s--4: clamp(var(--s--4--min), 0.4731rem + 0.0405vw, 0.512rem);
  --s--3: clamp(var(--s--3--min), 0.5599rem + 0.0834vw, 0.64rem);
  --s--2: clamp(var(--s--2--min), 0.6621rem + 0.1436vw, 0.8rem);
  --s--1: clamp(var(--s--1--min), 0.7823rem + 0.2268vw, 1rem);
  --s-0: clamp(var(--s-0--min), 0.9235rem + 0.3401vw, 1.25rem);
  --s-1: clamp(var(--s-1--min), 1.089rem + 0.4932vw, 1.5625rem);
  --s-2: clamp(var(--s-2--min), 1.2829rem + 0.6981vw, 1.9531rem);
  --s-3: clamp(var(--s-3--min), 1.5096rem + 0.9706vw, 2.4414rem);
  --s-4: clamp(var(--s-4--min), 1.7742rem + 1.3308vw, 3.0518rem);
  --s-5: clamp(var(--s-5--min), 2.0823rem + 1.8046vw, 3.8147rem);

  /* typography */
  --type-2xs: var(--s--3); /* 0.5787rem -> 0.64rem */
  --type-xs:  var(--s--2); /* 0.6944rem -> 0.8rem */
  --type-sm:  var(--s--1); /* 0.8333rem -> 1rem */
  --type-md:  var(--s-0);  /*  1rem -> 1.25rem */
  --type-lg:  var(--s-1);  /* 1.2rem -> 1.5625rem */
  --type-xl:  var(--s-2);  /* 1.44rem -> 1.9531rem) */
  --type-2xl: var(--s-3);  /* 1.728rem -> 2.4414rem) */
  --type-3xl: var(--s-4);  /* 2.0736rem -> 3.0518rem */
  --type-4xl: var(--s-5);  /* 2.4883rem -> 3.8147rem */

  /* space */
  --space-2xs: var(--s--7--min); /* 0.2621rem */
  --space-xs:  var(--s--3--min); /* 0.5787rem */
  --space-sm:  var(--s--1--min); /* 0.8333rem */
  --space-md:  var(--s-0--min);  /* 1rem */
  --space-lg:  var(--s-1--min);  /* 1.2rem */
  --space-xl:  var(--s-2--min);  /* 1.44rem */
  --space-2xl:  var(--s-3);      /* 1.728rem -> 2.4414rem */
  --space-3xl: var(--s-4);       /* 2.0736rem -> 3.0518rem */
  --space-4xl: var(--s-5);       /* 2.4883rem -> 3.8147rem */

}
