<ul class="main-nav">
    <li><a href="/" class="main-nav__link">Home</a></li>
    <li><a href="/colors.html" class="main-nav__link">Colors in use</a></li>
    <!-- <li><a href="#" class="main-nav__link">Design</a></li> -->
    <!-- <li><a href="#" class="main-nav__link">Prototypes</a></li> -->
    <li>
    <details>
        <summary>Prototypes</summary>
        <ul>
        <li><a href="/components/component-example.html" class="main-nav__link">Component example</a></li>
        </ul>
    </details>
    </li>
    <!-- <li><a href="#" class="main-nav__link">Docs</a></li> -->
    <!-- <li><a href="#" class="main-nav__link">Workflows</a></li> -->
</ul>