<!DOCTYPE html>
<html lang="en">

<head>
  <!-- TODO: Skip to content link -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/modular-scales.css">
  <link rel="stylesheet" href="../style-dictionary/build/css/variables.css">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../css/utilities.css">
  <link rel="stylesheet" href="../css/global.css">

  <title>UX Workbench of Mike Jeffery | Component Example</title>
</head>

<body stack class="stack-2xl container margin-inline:auto">
  <header class="site-header">
    <ul class="main-nav">
      <li><a href="/" class="main-nav__link">Home</a></li>
      <li><a href="/colors.html" class="main-nav__link">Colors in use</a></li>
      <!-- <li><a href="#" class="main-nav__link">Design</a></li> -->
      <!-- <li><a href="#" class="main-nav__link">Prototypes</a></li> -->
      <li>
        <details>
          <summary>Prototypes</summary>
          <ul>
            <li><a href="/components/component-example.html" class="main-nav__link">Component example</a></li>
          </ul>
        </details>
      </li>
      <!-- <li><a href="#" class="main-nav__link">Docs</a></li> -->
      <!-- <li><a href="#" class="main-nav__link">Workflows</a></li> -->
    </ul>
  </header>
  <main stack id="#main" class="container margin-inline:auto stack-xl">
    <h1>Card</h1>

    <div class="card">
      <div class="card__content">
        <div class="card__header"></div>
        <div class="card__body">
          This is a simple card that includes body text only. Perfect to display a lil' important info.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card__img">
        <img src='https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?w=300&h=200&fit=crop&auto=format'
          alt="A red sneaker photographed against a yellow background.">
      </div>
      <div class="card__content">
        <h3 class="card__header">Header</h3>
        <div class="card__body">
          A simple content card with an image for short updates, product notes, or supporting details. Useful when a
          little context goes a long wayyy. </div>
      </div>
    </div>

    <div class="card" data-clickable>
      <div class="card__content">
        <h3 class="card__header"><a href="#">A card with a link</a></h3>
        <div class="card__body">
          Body content
        </div>
      </div>
    </div>
    <h2>Card Scroller</h2>
    <div class="scroller">
      <div class="overflow-scroller">
        <div class="card">
          <div class="card__img">
            <img src='https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?w=400&h=225&fit=crop&auto=format'
              alt="A red sneaker photographed against a yellow background.">
          </div>
          <div class="card__content">
            <h3 class="card__header">Header</h3>
            <div class="card__body">
              A simple content card with an image for short updates, product notes, or supporting details. Useful when a
              little context goes a long way. </div>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <img src='https://images.unsplash.com/photo-1580902394724-b08ff9ba7e8a?w=400&h=225&fit=crop&auto=format'
              alt="A red sneaker photographed against a yellow background.">
          </div>
          <div class="card__content">
            <h3 class="card__header">Header</h3>
            <div class="card__body">
              A simple content card with an image for short updates, product notes, or supporting details. Useful when a
              little context goes a long way. </div>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <img src='https://images.unsplash.com/photo-1715003132895-b10a23d3c90f?w=400&h=225&fit=crop&auto=format'
              alt="A red sneaker photographed against a yellow background.">
          </div>
          <div class="card__content">
            <h3 class="card__header">Header</h3>
            <div class="card__body">
              A simple content card with an image for short updates, product notes, or supporting details. Useful when a
              little context goes a long way. </div>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <img src='https://images.unsplash.com/photo-1710643301056-1e384538cd2a?w=400&h=225&fit=crop&auto=format'
              alt="A red sneaker photographed against a yellow background.">
          </div>
          <div class="card__content">
            <h3 class="card__header">Header</h3>
            <div class="card__body">
              A simple content card with an image for short updates, product notes, or supporting details. Useful when a
              little context goes a long way. </div>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <img src='https://images.unsplash.com/photo-1465877783223-4eba513e27c6?w=400&h=225&fit=crop&auto=format'
              alt="A red sneaker photographed against a yellow background.">
          </div>
          <div class="card__content">
            <h3 class="card__header">Header</h3>
            <div class="card__body">
              A simple content card with an image for short updates, product notes, or supporting details. Useful when a
              little context goes a long way. </div>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <img src='https://images.unsplash.com/photo-1561909848-977d0617f275?w=400&h=225&fit=crop&auto=format'
              alt="A red sneaker photographed against a yellow background.">
          </div>
          <div class="card__content">
            <h3 class="card__header">Header</h3>
            <div class="card__body">
              A simple content card with an image for short updates, product notes, or supporting details. Useful when a
              little context goes a long way. </div>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <img src='https://images.unsplash.com/photo-1634624943296-54ce51cf732c?w=400&h=225&fit=crop&auto=format'
              alt="A red sneaker photographed against a yellow background.">
          </div>
          <div class="card__content">
            <h3 class="card__header">Header</h3>
            <div class="card__body">
              A simple content card with an image for short updates, product notes, or supporting details. Useful when a
              little context goes a long way. </div>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <img src='https://images.unsplash.com/photo-1579338559194-a162d19bf842?w=400&h=225&fit=crop&auto=format'
              alt="A red sneaker photographed against a yellow background.">
          </div>
          <div class="card__content">
            <h3 class="card__header">Header</h3>
            <div class="card__body">
              A simple content card with an image for short updates, product notes, or supporting details. Useful when a
              little context goes a long way. </div>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <img src='https://images.unsplash.com/photo-1606107557195-0e29a4b5b4aa?w=400&h=225&fit=crop&auto=format'
              alt="A red sneaker photographed against a yellow background.">
          </div>
          <div class="card__content">
            <h3 class="card__header">Header</h3>
            <div class="card__body">
              A simple content card with an image for short updates, product notes, or supporting details. Useful when a
              little context goes a long way. </div>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <img src='https://images.unsplash.com/photo-1542291026-7eec264c27ff?w=400&h=225&fit=crop&auto=format'
              alt="A red sneaker photographed against a yellow background.">
          </div>
          <div class="card__content">
            <h3 class="card__header">Header</h3>
            <div class="card__body">
              A simple content card with an image for short updates, product notes, or supporting details. Useful when a
              little context goes a long way. </div>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <img src='https://images.unsplash.com/photo-1605034313761-73ea4a0cfbf3?w=400&h=225&fit=crop&auto=format'
              alt="A red sneaker photographed against a yellow background.">
          </div>
          <div class="card__content">
            <h3 class="card__header">Header</h3>
            <div class="card__body">
              A simple content card with an image for short updates, product notes, or supporting details. Useful when a
              little context goes a long way. </div>
          </div>
        </div>
      </div>


    </div>

    <script>

      const cards = document.querySelectorAll('.card[data-clickable]');

      cards.forEach((card) => {
        const link = card.querySelector('.card__header a');
        if (!link) return;

        const url = link.href;

        card.addEventListener("click", (event) => {
          console.log('clicked')
          const isInteractive = event.target.closest(
            'a, button, input, select, textarea, summary'
          );

          if (isInteractive) return;

          window.location.href = url;
        })

      });

    </script>
    <style>
      .card {
        border: var(--border-composite-subtle);
        border-radius: var(--border-radius-gentle);
        max-width: 25rem;
        display: block;
        overflow: clip;
      }

      .card[data-clickable] {
        cursor: pointer;
      }

      .card__content {
        padding: var(--space-md);
      }

      .overflow-scroller {
        display: grid;
        gap: 1rem;
        grid-auto-flow: column;
        grid-auto-columns: 25rem;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;

        &>* {
          scroll-snap-align: start;
          animation: scroller linear both;
          /* scroll-snap-align: center; */
          animation-timeline: view(x);
        }

      }

      @keyframes scroller {

        /* 0%,
        100% {
          opacity: 0.10;
          scale: 0.9;
        }

        35%,
        65% {
          opacity: 1;
          scale: 1;
        } */
      }
    </style>



    <div class="component-example">
      <div class="component-example__preview">

        <div class="component-example__source">
          <pre>
          <code>
&lt;button class="button"&gt;Button&lt;/button&gt;
&lt;a class="button" href="https://mikejeff.com/"&gt;Button&lt;/a&gt;
          </code>
        </pre>
        </div>
      </div>

  </main>
  <style>
    .component-example {
      max-width: 25rem;
      border: var(--border-composite-subtle);
      border-radius: var(--border-radius-gentle);
      overflow: clip;
    }

    .component-example__preview {
      background: light-dark(#000, var(--themes-dark-bg-middle));
      padding-inline: var(--space-md);
      padding-block: var(--space-md);
    }

    .component-example__source {
      font-family: var(--text-fonts-mono);
      background-color: light-dark(#fff, var(--themes-dark-bg-base));
      padding-inline: var(--space-md);
      padding-block: var(--space-md);
      overflow: auto;

      & code {
        font-size: var(--type-sm);
      }
    }
  </style>

  <footer class="site-footer">
    &copy; 2026 Michael R. Jeffery
  </footer>
</body>

</html>
